*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/config/sonar.properties
/config/testers.txt
/app/google-services.json
apps_catalog_keystore
/config/apps-catalog-e4a0b-140bcb296b4b.json
/config/signing.properties
